@font-face {
    font-family: Navidad;
    src: url(christmas_bless/Christmas\ Bless.ttf);
}

.tipoLetra{
    text-align: left;
    font-size: 30px;
    color: white;
    font-family: Navidad;
    text-align: center;
    background-color: red;
}

body{
    background-color: red;
}
